body {
    background: brown;
    font: normal 15pt arial;
    background-image: url("numbers.jpg");
    background-size: cover;

}

header {
    color: gold;
    text-align: center;

}



input, select {
    margin: 0 auto;
    display: block; /* Optional: to make the elements stack vertically */
  }
  

footer {
    color: gold;
    text-align: center;
    font-style: italic;

}